In [11]:
import mysql.connector
import warnings
warnings.filterwarnings("ignore")

import pandas as pd

db = mysql.connector.connect(
  host="iosqlde.onairnet.xyz",
  user="datalab",
  password="Datalab1@#@",
  database="onairnet_DW"
)

def sql(query):
    cursor = db.cursor()
    cursor.execute(query)
    
    cols = cursor.column_names
    data = cursor.fetchall()
    
    df = pd.DataFrame(data, columns=cols)
    
    db.commit()
    return df

# ADVANCED SQL AND TIPS

In this lesson we'll see tips to perform better queries in SQL and ways to perform complex SQL queries

## Anidated Queries

In [7]:
sql("""
SELECT *
FROM (
    SELECT
    airlines.name,
    base.* 
    FROM (
        SELECT
        CONCAT(origin, '-', destination) as route,
        airline,
        COUNT(distinct flightNumber) as slots,
        COUNT(flightNumber) as flights
        FROM flights
        GROUP BY airline, origin, destination
    ) base

    LEFT JOIN airlines on
    base.airline = airlines.iata
    
    ORDER BY flights DESC, slots ASC
    
    LIMIT 20
) resultado
WHERE name IS NOT NULL
""")

                name    route airline  slots  flights
0          LUFTHANSA  FRA-BER      LH     20      271
1          LUFTHANSA  BER-FRA      LH     18      269
2             IBERIA  BCN-MAD      IB     14      243
3             IBERIA  MAD-BCN      IB     15      243
4   VUELING AIRLINES  BCN-PMI      VY     13      242
5   VUELING AIRLINES  PMI-BCN      VY     13      242
6          LUFTHANSA  HAM-FRA      LH     17      228
7          LUFTHANSA  FRA-HAM      LH     16      222
8          LUFTHANSA  MUC-FRA      LH     14      219
9          LUFTHANSA  FRA-MUC      LH     15      219
10         LUFTHANSA  HAM-MUC      LH     17      210
11         LUFTHANSA  MUC-HAM      LH     15      207
12         EUROWINGS  DUS-PMI      EW     17      185
13         EUROWINGS  PMI-DUS      EW     18      185
14         LUFTHANSA  DUS-MUC      LH     12      174
15         LUFTHANSA  MUC-DUS      LH     12      174
16         LUFTHANSA  FRA-LHR      LH     11      170
17         LUFTHANSA  LHR-FRA      LH     11      167
18            IBERIA  MAD-LHR      IB      8      166
19            IBERIA  LHR-MAD      IB      8      163

## Copy a query into a table

In case we want to copy all or part of the content into another table with the same column names, we can quicky do it from SQL this way:

`INSERT INTO tableName SQL_STATEMENT`

## SQL Indexes

An SQL index is used to retrieve data from a database faster. Indexing a table or view is undoubtedly one of the best ways to improve the performance of queries and applications.

An SQL index is a quick lookup table to find the records that users need to search most frequently. Because an index is small, fast and optimised for fast lookups. In addition, they are very useful for connecting relational tables and searching large tables.

SQL indexes are the main performance tool, so they are usually applied if a database is incremented. SQL Server recognises several types of indexes, but one of the most common is the clustered index. This type of index is automatically created with a primary key.

## Partitioning

Partitioning tables in MySQL allows us to rotate the information in our tables into different partitions, making queries faster and reclaiming disk space when deleting records. The most common use of partitioning is by date.

Partitioning is performed using a partitioning key, which determines in which of the existing partitions in the table the data to be inserted will reside. Oracle also allows partitioning of indexes and tables organised by indexes. Each partition can also have its own storage properties. The partitioned tables appear in the system as a single table, with the system automatically managing read and write to each partition (except for the System partition introduced in version 11g). The definition of the partitions is indicated in the table creation sentence, with the appropriate syntax for each of the types.
- Partitioning Range: the partitioning key is determined by a range of values, which determines the partition where a value will be stored.
- Partitioning Hash: the partitioning key is a hash function, applied on a column, which aims to make an equal distribution of the records over the different partitions. It is useful for partitioning tables where there are no clear partitioning criteria, but where better performance is desired.
- Partitioning List: The partitioning key is a list of values, which determines each of the partitions.
- Composite Partitioning: the previous partitions were of the simple type (single or one-level), because we use a single partitioning method on one or more columns. Oracle allows us to use composite partitioning methods, using a first partitioning of a given type, and then for each partition, perform a second level of partitioning using another method. The combinations are as follows (they have been extended as versions have progressed): range-hash, range-list, range-range, list-range, list-list, list-hash and hash-hash (introduced in version 11g).
- Partitioning Interval: type of partitioning also introduced in version 11g. Instead of indicating the ranges of values that will determine how the partitioning is performed, the system will automatically create partitions when a new record is inserted into the b.d. The techniques of this type available are Interval, Interval List, Interval Range and Interval Hash (so Interval partitioning is complementary to the partitioning techniques seen above).
- System Partitioning: the partitioned table is defined by specifying the desired partitions, but no partitioning key is specified. In this type of partitioning, the partitioning management is delegated to the applications that use the database (for example, in the sql insertion sentences we must indicate in which partition we insert the data).